.backround{
    background-image: url('https://st4.depositphotos.com/7282720/24388/v/600/depositphotos_243880218-stock-illustration-seamless-pattern-with-dogs-of.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
     height: 100vh;
     background-repeat: no-repeat;
      align-items: center;
}

.divStyle {
    justify-items: center;
    align-items: center;
    justify-content: center;
    display: inline-block;
    
}

.button{
    background: rgb(241, 168, 32);
    color:white;
    font-family: Arial;
    border-radius: 10px;
     font-size: 20px;
     padding: 19px;
     border: 2px solid black;
     /* transition: .3s; */
    
}
.button:hover {
    background-color: black;
    /* opacity: 1; */
    /* transform: translateY(0); */
    transition-duration: .35s;
    }


.h1{
    display: inline;
    align-items: center;
    font-weight: bold;
    margin-left: 11%;
    margin-top: 10vh;
    font-family: arial;
    font-size: 3rem;
    color: black;
    background: orange;
    border-radius: 10px;
    border: 2px solid black;
  }