.back{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: rgb(174, 172, 172);
}

 .list {
    display: inline-flex;
    padding: 0.3rem;
    /* background-color: rgb(60, 60, 60); */
    border-radius: 50px;
}

.list > button {
   
    background: rgb(174, 172, 172);
    border-radius: 6px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 18px;
    padding: 6px 10px;
    
    
}

/*linear-gradient(to bottom, rgb(31, 166, 184) 5%, rgb(40, 132, 186) 100%)*/